@import '../../../style.scss';


.contact {
    padding: 15px;
    background: none;
    min-height: 100%;
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-content {
        
    width: 60%;

    padding: 35px;

    border-style: solid;
    border-color: $primary-color;
    border-radius: 15px;
}

.form-field {
    width: 100%;
}


.titles-data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: $secondary-color;
}


@media (max-width: 768px) {

    .contact-content {
    
        width: 100%;    
    
        padding: 35px;
    
        border-style: solid;
        border-color: $primary-color;
        border-radius: 15px;
    }
}

.completed {
    border-style: solid;
    border-width: thick;
    border-color: $primary-color;
    border-radius: 10px;
    color: $secondary-text-color;

    display: flex;
    justify-content: center;
}