@import '../../style.scss';

.aside{
    background: $secondary-color;
    //min-height: auto;
}

.orden:hover{
   
   
}

.aside-option {
    cursor: pointer;
    color: white;
}

.aside-option:hover {
    background: white;
    color: black;
}