$primary-color: #16c1ff;
$primary-text-color: white;

$secondary-color: #036284;
$secondary-text-color: #ffffff;

$third-color: #545d60;
$third-text-color: #545d60;


$content-color: #e6e8ed;
$links-color: black;


@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.titles {
    color: $secondary-color;
    display: flex;
    justify-content: center;    
}