

$secondary-color: #036284;


$third-color: #545d60;
$third-text-color: black;

$primary-color: #16c1ff;
$primary-text-color: white;


$secondary-text-color: #545d60;


$content-color: #ffffff;
$links-color: black;


@import "~@angular/material/prebuilt-themes/indigo-pink.css";


