<div class="image-zone">

        <img src="assets/images/home-image-one.jpg" 
        alt="English on GT"
        class="home-image">
        
</div>

<div class="home-section-1">
        
        <!-- <div class="continer">
                <div class="row">
                        <div class="col-5 col-lg-5 col-xl-5 sub-section-1">
                                <p>
                                Impartimos clases particulares y tutorías de inglés de forma presencial y también en línea. Enseñamos desde nivel principiante hasta avanzado. Trabajamos con niños (de 6 - 12 años), jóvenes y adultos. Trabajamos con métodos modernos utilizando herramientas audiovisuales que garantizan el aprendizaje de una forma entretenida. !Olvídate de las clases aburridas y convencionales!
                                </p>
                        </div>

                        <div class="col-5 col-lg-5 col-xl-5 sub-section-1">
                                <img 
                                 src="../../assets/images/anuncio.png"
                                 alt="anuncio"
                                 class="image-home-anuncio">
                        </div>
                </div>
        </div> -->


        <table>
                <tr>
                        <td class="sub-section-1 text-center">
                                Impartimos clases particulares y tutorías de inglés de forma presencial y también en línea. Enseñamos desde nivel principiante hasta avanzado. Trabajamos con niños (de 6 - 12 años), jóvenes y adultos. 
                                Utilizamos métodos modernos haciendo uso de herramientas audiovisuales que garantizan el aprendizaje de una forma entretenida. !Olvídate de las clases aburridas y convencionales!    
                        </td>
                </tr>


                <tr>
                        <td class="text-center">
                                <img 
                                src="../../assets/images/English-cover.jpg"
                                alt="anuncio"
                                class="image-home-anuncio">
                        </td>
                </tr>

                
        </table>

</div>

<!-- <div class="home-section-2">
        
</div>

<div class="home-section-3">

</div> -->
